body {
    background-color: #141414;
    font-family: var(--ff-sans);
    min-height: 100vh;
    padding: 2rem;
  }
  
  /* Conteneur du formulaire */
  .addMovie {
    width: 100%;
    max-width: 350px; 
    padding: 20px;
    background: rgba(20, 20, 20, 0.95);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
  }
  
  /* Titre */
  .addMovie__title {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #5400fc; 
  }
  
  /* Champs de formulaire */
  .addMovie__form input[type="text"],
  .addMovie__form input[type="number"],
  .addMovie__form select{
    width: 100%;
    padding: 12px;
    margin: 6px 0;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 0.9em;
    background: #222;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .addMovie__form input[type="text"]::placeholder{
    color: #aaa;
  }
  
  .addMovie__form input[type="text"]:focus ,
  .addMovie__form input[type="number"]:focus,
  .addMovie__form select:focus{
    border-color: #5400fc;
    outline: none;
  }
  
  /* Bouton stylé */
  .addMovie__form input[type="button"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #5400fc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  .addMovie__form input[type="button"]:hover {
    background: #3900aa;
  }
  

  @media (min-width: 768px) {
    .addMovie {
      max-width: 400px;
      padding: 25px;
    }
  
    .addMovie__title {
      font-size: 1.5em;
    }
  
    .addMovie__form input[type="text"],
    .addMovie__form input[type="number"],
    .addMovie__form select{
      font-size: 1em;
      padding: 14px;
    }
  
    .addMovie__form input[type="button"],
    .addMovie__form input[type="number"],
    .addMovie__form select{
      font-size: 1.1em;
      padding: 14px;
    }
  }
  