.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  background-color: var(--color-bg);
  color: var(--color-fg);
  gap: 0.5rem;
}

.navbar__list {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__item {
  cursor: pointer;
  font-size: 0.85rem;
  padding-top: 0.0625rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

.navbar__item:hover {
  color: var(--color-purple);
}

.navbar__center {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.BardeRecherche {
  max-width: 10rem;
}

.navbar__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.navbar__picture {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.navbar__select {
  background-color: var(--color-purple);
  color: var(--color-bg);
  padding: 0.125rem 0.25rem;
  border-radius: 1rem;
  font-size: 0.6rem;
}

@media (min-width: 48rem) {
  .navbar {
    padding: 1rem 1.5rem;
    gap: 1rem;
  }

  .navbar__item {
    font-size: 1rem;
    padding: 0.1875rem 0;
  }

  .BardeRecherche {
    max-width: 13rem;
  }

  .navbar__picture {
    width: 3.125rem;
    height: 3.125rem;
  }

  .navbar__select {
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
  }
}
