@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Primitive Tokens */
  --color-black: hsl(240, 7%, 3%);
  
  --color-white: hsl(0, 0%, 95%);
  
  --color-yellow: hsl(47, 100%, 50%);
  --color-yellow-ligth: hsl(47, 98%, 68%);
  --color-grey: hsl(0, 0%, 80%);
  --color-grey-dark: hsl(0, 0%, 20%);

  --ff-sans: 'Montserrat', sans-serif;

  /* Sementic Tokens */
  --color-fg: var(--color-white);
  --color-bg: var(--color-black);
  --color-accent: var(--color-yellow);
}
