body {
  background-color: var(--color-black);
  font-family: var(--ff-sans);
  min-height: 100vh;
  padding: 2rem;
}

/* Titre */
.addMovie__title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.9rem;
  color: var(--color-yellow); 
  font-family: var(--ff-sans);
}

/* Champs de formulaire */
.addMovie__form input[type="text"],
.addMovie__form input[type="number"],
.addMovie__form select {
  width: 100%;
  padding: 0.8rem;
  margin: 0.4rem 0;
  border: 1px solid var(--color-fg);
  border-radius: 0.3rem;
  font-size: 0.9em;
  background: var(--color-black);
  color: var(--color-fg);
  font-family: var(--ff-sans);
  transition: all 0.3s ease;
}

.addMovie__form input[type="text"]::placeholder {
  color: #aaa;
}

.addMovie__form input[type="text"]:focus,
.addMovie__form input[type="number"]:focus,
.addMovie__form select:focus {
  border-color: var(--color-yellow);
  outline: none;
}

/* Bouton stylé */
.addMovie__form input[type="button"] {
  width: 100%;
  padding: 0.8rem;
  margin-top: 0.6rem;
  background: var(--color-yellow);
  color: var(--color-black);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--ff-sans);
  transition: background 0.3s ease;
}

.addMovie__form input[type="button"]:hover {
  background: var(--color-yellow-ligth);
}

@media (min-width: 48rem) {
  .addMovie__title {
    font-size: 1.5em;
  }

  .addMovie__form input[type="text"],
  .addMovie__form input[type="number"],
  .addMovie__form select {
    font-size: 1rem;
    padding: 0.9rem;
  }

  .addMovie__form input[type="button"],
  .addMovie__form input[type="number"],
  .addMovie__form select {
    font-size: 1.1rem;
    padding: 0.9rem;
  }
}
