<div class="details">
    <h2 class="details__title">{{titre}}</h2>
    <img class="details__image" src="https://mmi.unilim.fr/~mande3/SAE2.03-Arthur-Mande-1/server/images/{{image}}" alt="Affiche du film"/>
    
    <p class="details__desc">Synopsis : {{desc}}</p>
    <p class="details__realisateur">Réalisateur : {{realisateur}}</p>
    <p class="details__annee">Année de sortie : {{annee}}</p>
    <p class="details__duree">Durée du film : {{duree}} minutes</p>
    <p class="details__categorie">Catégorie : {{categorie}}</p>
    <p class="details__age">Age minimum conseillé : {{age}} ans</p>

    <!-- <iframe
    class="details__trailer"
    src="{{url}}"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  >
  </iframe> -->
</div>