.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  background-color: var(--color-bg);
  color: var(--color-fg);
  gap: 0.5rem;
}

.navbar__logo {
  width: 2rem;
  height: 2rem;
}

.navbar__list {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__item {
  cursor: pointer;
  font-size: 0.85rem;
  padding-top: 0.1rem;
  border-radius: 0.4rem;
  transition: background-color 0.3s;
  align-content: center;
}

.navbar__item:hover {
  color: var(--color-yellow);
}

.navbar__center {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.BardeRecherche {
  max-width: 10rem;
}

.navbar__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.navbar__picture {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0.3rem;
}

.navbar__select {
  background-color: var(--color-yellow);
  color: var(--color-bg);
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
  font-size: 0.6rem;
}

@media (min-width: 48rem) {
  .navbar {
    padding-left: 4rem;
    gap: 1rem;
  }

  .navbar__logo {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }

  .navbar__item {
    font-size: 1.2rem;
    padding: 0rem 2rem 0rem 0rem;
    align-content: center;
  }

  .BardeRecherche {
    max-width: 13rem;
  }

  .navbar__picture {
    width: 3.125rem;
    height: 3.125rem;
  }

  .navbar__select {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}
