.categorie__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.categorie {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 1rem;
}

.categorie__tag {
  background-color: var(--color-purple);
  color: var(--color-white);
  padding: 0.3125rem 0.625rem;
  border-radius: 2rem;
  font-family: var(--ff-sans);
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.categorie__tag:hover,
.categorie__tag.active {
  background-color: var(--color-purple-black);
  color: var(--color-white);
  border-color: var(--color-purple-black);
}

@media (min-width: 48rem) {
  .categorie {
    padding: 1.25rem 1.75rem;
  }

  .categorie__list {
    gap: 1rem;
  }

  .categorie__tag {
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
  }
}
